.main-menu {
  position: absolute;
  top: 35px;
  left: 0;
  height: calc(100vh - 35px);
  width: 30%;
  min-width: 220px;
  background: $color-white;
  padding: 20px 20px 0;
  text-align: left;
  z-index: 3;
  a {
    color: $color-black;
  }
  li {
    padding: 0 0 20px;
  }
}
.link-nav {
  @include font-bold();
  font-size: 17px;
  text-decoration: underline;
  display: inline-block;
  margin: 0 0 20px;
}